<div class="row">
  <% @posts.each do |post| %>
    <div class="col-3">
      <h4>
        <% if post.user %>
          <%= post.user.first_name %>
        <% else %>
          Unknown User
        <% end %>
      </h4>
      <img class="img-fluid" src="<%= post.image %>" class="w-full">
      <p><%= post.body %></p>
    </div>
  <% end %>
</div>
